In [2]:
import pandas as pd

In [77]:
path_global_eco_1 = "../../data/global_economy/year_df_part1.pkl"
path_global_eco_2 = "../../data/global_economy/year_df_part2.pkl"
path_steel_data = "../../data/world_steel_association/Steel_Data_Data_Mining.xlsx"
path_trade_data = "../../data/un_comtrade/trade_data.xlsx"

path_output_data = "../../data/dim/"

In [83]:
trade_data = pd.read_excel(path_trade_data, sheet_name="Sheet1")
trade_cols = ["reporterISO", "reporterDesc"]

trade_data = trade_data[trade_cols]

trade_data = trade_data.rename(columns={trade_cols[0]: "country_code", trade_cols[1]: "country_name"})

df_trade = trade_data.drop_duplicates(subset=["country_code", "country_name"])

In [84]:
steel_data = pd.read_excel(path_steel_data)
steel_data.head()


change_cols = ["Country Code", "Country"]

steel_data = steel_data[change_cols]

steel_data = steel_data.rename(columns={change_cols[0]: "country_code", change_cols[1]: "country_name"})

df_steel = steel_data.drop_duplicates(subset=['country_code', 'country_name'])

In [68]:
global_economy_data_1 = pd.read_pickle("../../data/global_economy/year_df_part1.pkl")
global_economy_data_2 = pd.read_pickle("../../data/global_economy/year_df_part2.pkl")

df_global_economy = pd.concat([global_economy_data_1, global_economy_data_2], ignore_index=True)

change_cols = ["Code", "Country", "ContinentCode"]

df_global_economy = df_global_economy[change_cols]

df_global_economy = df_global_economy.rename(columns={change_cols[0]: "country_code", change_cols[1]: "country_name"})

df_global_economy = df_global_economy.drop_duplicates(subset=['country_code', 'country_name'])

df_global_economy.head(1)

  country_code country_name ContinentCode
0          AFG  Afghanistan            AS

In [80]:
# Mapping Dictionary: ISO-Code → Englischer Name
continent_name_map = {
    'AF': 'Africa',
    'AS': 'Asia',
    'EU': 'Europe',
    'NA': 'North America',
    'SA': 'South America',
    'OC': 'Oceania',
    'AN': 'Antarctica'
}
north_america_countries = [
    'Antigua and Barbuda', 'Aruba', 'Bahamas', 'Barbados', 'Belize', 'Bermuda',
    'Canada', 'Costa Rica', 'Dominica', 'Dominican Republic', 'El Salvador',
    'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico',
    'Nicaragua', 'Panama', 'Puerto Rico', 'Saint Lucia',
    'Saint Vincent and the Grenadines', 'Trinidad and Tobago',
    'USA', 'Cuba', 'Montserrat'
]

# Ergänze ggf. die fehlenden ContinentCodes in deinem DataFrame
df_global_economy.loc[
    df_global_economy['country_name'].isin(north_america_countries),
    'ContinentCode'
] = 'NA'

# Index (ContinentCode) in neue Spalte übernehmen
df_global_economy = df_global_economy.reset_index().drop(columns='index')

# Englische Kontinentnamen hinzufügen
df_global_economy['Continent'] = df_global_economy['ContinentCode'].map(continent_name_map)

# Optional: Spaltenreihenfolge anpassen
cols = ['ContinentCode', 'Continent'] + [col for col in df.columns if col not in ['ContinentCode', 'Continent']]
df_global_economy = df_global_economy[cols]

# Ausgabe
df_global_economy.head()

  ContinentCode Continent country_code country_name
0            AS      Asia          AFG  Afghanistan
1            EU    Europe          ALB      Albania
2            AF    Africa          DZA      Algeria
3            EU    Europe          AND      Andorra
4            AF    Africa          AGO       Angola

In [81]:

# df_global_economy.to_csv(path_output_data + "global_economy.csv", index=False)

In [82]:
df_global_economy.describe()

       ContinentCode Continent country_code country_name
count            202       202          202          202
unique             6         6          202          202
top               AF    Africa          AFG  Afghanistan
freq              53        53            1            1

In [85]:
df_steel.describe()

       country_code country_name
count           121          121
unique          121          121
top             ALB      Albania
freq              1            1

In [87]:
df_trade.describe()

       country_code country_name
count            60           60
unique           60           60
top             ARG    Argentina
freq              1            1